* {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section {
    background-color: #1F2937;
    padding: 16px;
}

header {
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
} 

ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    gap: 16px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text-and-secondary-text-and-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 82px 0px;
}

.hero-text-and-hero-secondary-text {
    display: flex;
    flex-direction: column;
    margin-right: 48px;
    gap: 16px;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    width: 400px;
}

.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
    width: 450px;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 15px;
    font-weight: 600;
    border: 0px;
    width: 120px;
    padding: 10px 12px;
    border-radius: 8px;
}

.comic-image {
    display: flex;
}

.some-random-information {
    display: flex;
    flex-direction: column;
}

.information-header-text {
    font-size: 36px;
    font-weight: 900;
    margin-top: 48px;
}

.illustrations-with-subtext {
    display: flex;
}

.peeps-with-subtext {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.peeps-images {
    display: flex;
    justify-content: center;
    align-items: center;
}