* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section {
    background-color: #1F2937;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
} 

ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    gap: 16px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text-and-secondary-text-and-image {
    display: flex;
    align-items: center;
    padding: 82px 0px;
}

.hero-text-and-hero-secondary-text {
    display: flex;
    flex-direction: column;
    margin-right: 48px;
    gap: 16px;
    flex: auto;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    width: 400px;
}

.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
    width: 450px;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight: 600;
    border: 0px;
    width: 100px;
    padding: 10px 12px;
    border-radius: 8px;
}

.comic-image {
    display: flex;
}

.some-random-information {
    margin: 64px 0px;
    font-weight: 900;
}

.information-header-text {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}

.illustrations-with-subtext {
    display: flex;
    justify-content: space-between;
}

.peeps-with-subtext {
    display: flex;
    flex-direction: column;
}

.peep-subtext {
    max-width: 200px;
}

.peeps-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 64px 0px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 16px;
}

.thor-god-of-thunder {
    font-size: 18px;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
}

.call-to-action-section {
    padding: 64px 0px;
}

.call-to-action-blue-container {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 32px 64px;
}

h4 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.call-to-action-and-subtext {
    display: flex;
    justify-content: space-between;
}

.call-to-action-subtext {
    color: #F9FAF8;
}

.button-call-action {
    border: 2px solid #F9FAF8;
}